header {
    position: relative;
    background: url('/images/one-piece-red-poster.jpg') no-repeat center;
    background-size: cover;
    height: 70vh; /* Diminuindo a altura do header */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(216, 27, 27);
    text-align: center;
    overflow: hidden; /* Para garantir que nada saia do header */

    h1 {
        font-size: 3rem; /* Diminuindo o tamanho da fonte */
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        position: relative;
        z-index: 1;
    }

    /* Pseudo-elemento para o efeito de bordas em degrade */
    &::before {
        content: '';
        position: absolute;
        top: 0; /* Alterando para ficar mais alinhado ao topo */
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* Ajustando o degradê */
        border-radius: 15px; /* Bordas arredondadas */
        z-index: 0;
    }
}
